@model IEnumerable<CinemaCatalog.Web.Models.Category.CategoryWithDetailsDTO>

<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Category List</h1>
        </div>
        @*<div class="col text-end pt-1">
            <a asp-controller="Villa" asp-action="CreateVilla" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Create New Villa</a>
        </div>*@
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                ParentCategoryId
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.ParentCategoryId</td>
                    @*<td>
                    <a asp-controller="Villa" asp-action="UpdateVilla" asp-route-villaId="@item.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                    <a asp-controller="Villa" asp-action="DeleteVilla" asp-route-villaId="@item.Id"  class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                </td>*@
                </tr>
            }
        }
        else{
            <tr>
                <td colspan="3">No categories found.</td>
            </tr>
        }
        </tbody>
    </table>

</div>